.spinner-container {
position:absolute;
top: 30%;
left: 50%;
transform: translate(50%, 50%);
    .spinner{
        width: 36px;
        aspect-ratio: 1;
        background-color: transparent;
        border-radius: 50%;
        border: solid #bbb 3px;
        border-top-color: transparent;
        animation: 1s spinner linear infinite;
    }
}
    @keyframes spinner { 
    from {
        transform: rotate(0deg); 
    }
    to {
        transform:rotate(-360deg);
    }
}
